In [1]:
import numpy as np 
import pandas as pd

In [2]:
price_df = pd.read_csv('../Data/prices.csv')
sec_df = pd.read_csv('../Data/securities.csv')
fund_df = pd.read_csv('../Data/fundamentals.csv',index_col=0)

In [3]:
sec_df = sec_df.rename(columns = {'Ticker symbol' : 'symbol','GICS Sector' : 'sector'})
sec_df.head()

,symbol,Security,SEC filings,sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [4]:
sec_df = sec_df.drop('Date first added', axis=1)

In [5]:
sec_df[sec_df.isna().any(axis=1)]

Empty DataFrame
Columns: [symbol, Security, SEC filings, sector, GICS Sub Industry, Address of Headquarters, CIK]
Index: []

In [6]:
price_df[price_df.isna().any(axis=1)]

Empty DataFrame
Columns: [date, symbol, open, close, low, high, volume]
Index: []

In [7]:
price_df.to_csv('../Data/prices_cleaned.csv', index=False)
sec_df.to_csv('../Data/securities_cleaned.csv', index=False)
fund_df.to_csv('../Data/fundamentals_cleaned.csv', index=False)